.pion{
  border-radius: 100%;
  display: inline-block;
  width: 2em;
  height: 2em;
  border: solid 5px $black;
  .goodpart &{
    border:solid 5px green;
  }
}
.pion-bloc{
  display: inline-block;
  width: 3em;
  height: 3em;
//  border: solid 1px red;
  float: left;
  padding: 0.5em;
}
.goodpart{

  background: #adff2f;
  border-radius: 3px;
}

.violet{
  background: $violet;
}
.green{
  background: $green;
}
.yellow{
  background: $yellow;
}
.blue{
  background: $blue;
}
.red{
  background: $red;
}.white{
  background: $white;
}.black{
  background: $black;
}

