$my-map: (key1: value1, key2: value2, key3: value3);
// déclarer les variables ici
$blue: #337ab7;
$main-color: rgb(46, 109, 164);
$grey: #ccc;
$white: #fff;
$black: #111;
$dark: darken(mix($main-color, $grey), 70%);
$light-main: mix($main-color, $white);

$red: #CB2738;
$green: #5BCA26;
$blue: #5088FF;
$yellow: #FFDC6E;
$violet: #843AE0;

// overrides of libraries vars
$default: mix($white, $grey);
$info: mix($main-color, $white);
$success: mix(#B7FF80,#79bb92);
$warning: #FFBA10;
$danger: #CB2738;