<h2>{{MainCtrl.lines.length}} Essais sur 10</h2>

<div ng-show="conf.debug">
    <small class="badge-info badge">debug</small>
    <span class="badge badge-success" ng-show="won">gagné</span>
    <span class="badge badge-warning" ng-show="loose">perdu</span>
    <span class="badge-info badge" ng-show="conf.autoRun">
        Autorun
    </span>
    <a class="pull-right btn btn-warning" ng-click="emptyTable()">
        <i class="fa  fa-trash " ></i>
        recommencer
    </a>
</div>
<div ng-show="lines.length">
    <div ng-show="won" class="alert alert-success">
        WOOT! vous avez gagné!
    </div>
    <div ng-show="loose" class="alert alert-danger">
        SACREBLEU! you loose!!
    </div>
</div>

<ul class="unstyled">
    <li class="padded-v">
        <div class="row fat">
            <div class="col-lg-2">Essai</div>
            <div class="col-lg-3">
                Séquence
            </div>
            <div class="col-lg-3">
                Analyse
            </div>
            <div class="col-lg-1">
                Mal placés
            </div>
            <div class="col-lg-1">
                Bons
            </div>
            <div class="col-lg-1">
                Score
            </div>
            <div class="col-lg-1">
                diff
            </div>
        </div>
    </li>
    <li ng-if="conf.debug" ng-repeat="l in MainCtrl.lines track by $index">
        <div class="row">
            <div class="col-lg-2">{{ l.id+1 }}</div>
            <div class="col-lg-3">
                <div class="pion-line" >
                    <div class="pion-bloc" ng-repeat="p in l.pions track by $index" ng-class="{goodpart: sequenceAdverse[p.id -1] === p.color}" >
                        <div class="pull-left pion {{p.color}}" ></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">

            </div>
            <div class="col-lg-1">
                <div >
                    {{result[$index].nearly}}
                </div>
            </div>
            <div class="col-lg-1">
                <div >
                    {{result[$index].goods}}
                </div>
            </div>
            <div class="col-lg-1">
                <div >
                    {{ (result[$index].nearly * 0.5 + result[$index].goods *1) / 4}}
                </div>
            </div>
            <div class="col-lg-1">
                <div >
                    TODO
                    <!--{{ (result[$index].nearly * 0.5 + result[$index].goods *1) / 4}}-->
                </div>
            </div>
        </div>
    </li>
</ul>
<!--<pre>-->
     <!--{{MainCtrl.lines|json}}-->
<!--</pre>-->
<hr/>
<div>
    <h2>Plan d'analyse</h2>
    <ul>
        <li>à chaque réponse de séquence, on attribue une probabilité d'être présent, bon et bien placé à chaque couleur entrée.</li>
        <li>chaque réponse de séquence réévalue l'arbre des chances par couleur.</li>
        <li>si le score de pions mal placés et bon est faible, on augmente les chances des couleurs pas encore entrées d'être bonnes.</li>
        <li>le choix des prochaines couleurs se fait selon le plus haut score de couleur parmi l'arbre des chances</li>

    </ul>



</div>