<h2>{{config.lines.length}} Essais sur {{config.turns}}
  <a class="button is-warning pull-right btn btn-warning" (click)="restart()">
    <i class="fa  fa-trash "></i>
    recommencer
  </a>
</h2>
<button class="button is-primary"
        ng-click="sequence = randomSequence(); addSequence(sequence)">
  Random
</button>


<div *ngIf="config.debug">
  <small class="badge-info badge">debug</small>
  <span class="badge badge-success" *ngIf="config.won">gagné</span>
  <span class="badge badge-warning" *ngIf="config.loose">perdu</span>
  <span class="badge-info badge" *ngIf="config.autoRun">
        Autorun
    </span>
</div>
<div class="clearfix"></div>


<ul class="unstyled">
  <li class="padded-v">
    <div class="row fat">
      <div class="col-lg-2">ligne</div>
      <div class="col-lg-6">
        Séquence
      </div>
      <div class="col-lg-1">
        Mal placés
      </div>
      <div class="col-lg-1">
        Bons
      </div>
    </div>
  </li>
  <li *ngFor="let l of config.lines ; index as $index">
    <div class="columns">
      <div class="column">
        <button (click)="setSequence($index)" class="btn btn-info"
                data-toggle="tolltip"
                title="cliquer pour copier la séquence afin de la reprendre"
                data-tooltip="cliquer pour copier la séquence afin de la reprendre">
          {{ l.id + 1 }}
        </button>

      </div>
      <div class="column">
        <div class="pion-line">
          <div ng-if="config.debug"
               class="pion-bloc" *ngFor="let p of l.pions "
               ng-class="{goodpart: sequenceAdverse[p.id].color === p.color}">
            <div class="pull-left pion {{p.color}}"></div>
          </div>
          <div ng-if="!config.debug" class="pion-bloc" *ngFor="let p of l.pions ">
            <div class="pull-left pion {{p.color}}"></div>
          </div>
        </div>
      </div>
      <div class="column">
        <div>
          {{config.result[$index].nearly}}
        </div>
      </div>
      <div class="column">
        <div ng-class="{nice : result[$index].goods >0}">
          {{config.result[$index].goods}}
        </div>
      </div>
    </div>
  </li>
</ul>

<div class="pull-left" *ngIf="config.lines.length">
  <div *ngIf="config.won" class="alert alert-success">
    <h1>
      WOOT! vous avez gagné!
    </h1>
    <img class="padded" src="http://www.placecage.com/gif/284/196" alt="clap">
  </div>
  <div *ngIf="config.loose && !config.won" class="alert alert-danger">
    SACREBLEU! you loose!!
  </div>
</div>
