<h2>{{MainCtrl.lines.length}} Essais sur {{conf.turns}}
    <a class="pull-right btn btn-warning" ng-click="emptyTable();autoRun()">
        <i class="fa  fa-trash "></i>
        recommencer
    </a>
</h2>

<div ng-show="conf.debug">
    <small class="badge-info badge">debug</small>
    <span class="badge badge-success" ng-show="MainCtrl.won">gagné</span>
    <span class="badge badge-warning" ng-show="MainCtrl.loose">perdu</span>
    <span class="badge-info badge" ng-show="conf.autoRun">
        Autorun
    </span>

</div>
<div class="clearfix"></div>


<ul class="unstyled">
    <li class="padded-v">
        <div class="row fat">
            <div class="col-lg-2">ligne</div>
            <div class="col-lg-6">
                Séquence
            </div>
            <div class="col-lg-1">
                Mal placés
            </div>
            <div class="col-lg-1">
                Bons
            </div>
        </div>
    </li>
    <li  ng-repeat="l in lines track by $index">
        <div class="row row-hoverable">
            <div class="col-lg-2">
                <button ng-click="setSequence($index)" class="btn btn-info"
                        data-toggle="tolltip"
                        title="cliquer pour copier la séquence afin de la reprendre"
                        data-tooltip="cliquer pour copier la séquence afin de la reprendre">
                    {{ l.id+1 }}
                </button>

            </div>
            <div class="col-lg-6">
                <div class="pion-line">
                    <div ng-if="conf.debug"
                         class="pion-bloc" ng-repeat="p in l.pions track by $index"
                         ng-class="{goodpart: sequenceAdverse[p.id].color === p.color}">
                        <div class="pull-left pion {{p.color}}"></div>
                    </div>
                    <div ng-if="!conf.debug" class="pion-bloc" ng-repeat="p in l.pions track by $index">
                        <div class="pull-left pion {{p.color}}"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
                <div>
                    {{result[$index].nearly}}
                </div>
            </div>
            <div class="col-lg-1">
                <div ng-class="{nice : result[$index].goods >0}">
                    {{result[$index].goods}}
                </div>
            </div>
        </div>
    </li>
</ul>
<hr/>
<div>



</div>
